@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$break-1000: 1000px;
$break-800: 800px;

.headerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #e0e0e0;
  height: 10em;
  @media screen and (max-width: $break-1000) {
    max-width: 1000px;
  }
  @media screen and (max-width: $break-800) {
    display: flex;
    flex-direction: column;
  }
  :link {
    text-decoration: none;
  }
  .titleBlock {
    width: auto;
    height: auto;
    margin: 1.5em 0 0 0;
    @media screen and (max-width: $break-800) {
      width: 100%;
    }
  }
  .name {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    color: #efc14b;
    @media screen and (max-width: $break-800) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .subtitle {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: #7ba02d;
    @media screen and (max-width: $break-800) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
.navBlock {
  width: auto;
  height: auto;
  @media screen and (max-width: $break-800) {
    display: flex;
    justify-content: center;
  }
  .navbar {
    height: auto;
    width: 20em;
    margin: 4em 0 0 0;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: $break-800) {
      margin: 2em 0 2em 0;
    }
    :link {
      text-decoration: none;
      color: rgb(78, 74, 74);
    }
    :visited {
      color: #4d4a4a;
    }
  }
}
.projectSection {
  margin: 0 auto 0 auto;
}
