.allAboutInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0 0 0;
    img {
      width: 70%;
      margin: 0.75em auto 0 auto;
    }
  }
  p {
    width: 70%;
    text-align: center;
    margin: 1em auto 0 auto;
    :link {
      text-decoration: none;
      color: #4d4a4a;
      font-weight: bold;
      :visited {
        color: #4d4a4a;
      }
    }
  }
}
