ul {
  list-style-type: none;
  padding: 0;
}
.skillsTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .skillsTopRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .skillsBottomRow {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
}

.skillsBottom {
    display: flex;
    justify-content: center;
    margin: 3em 0 0 0;
    li {
        width: 500px;
        margin: 0;
    }
}