$break-1000: 1000px;

ul {
  list-style-type: none;
  padding: 0;
  color: rgb(56, 56, 56);
}
.skillsTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0 0 0;
  @media screen and (max-width: 1000px) {
    margin: 2em 0 0 0;
    width: 55em;
  }
  .skillsTopRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: $break-1000) {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  .skillsBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: $break-1000) {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
}

hr {
  color: rgb(56, 56, 56);
}

.skillsBottom {
  display: flex;
  justify-content: center;
  margin: 3em 0 0 0;
  @media screen and (max-width: $break-1000) {
    display: flex;
    justify-content: center;
  }
}
.skillSection {
  @media screen and (max-width: $break-1000) {
    width: 55em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
