@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.title {
  color: #7ba02d;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.list {
  font-family: "Roboto", "san-serif";
  line-height: 2em;
}