@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$break-1000: 1000px;

.skillSection {
    display: flex;
    flex-direction: row;
  .title {
    color: #7ba02d;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    width: 11em;
    margin: .65em 3em 0 0;
    @media screen and (max-width: $break-1000) {
      margin: auto;
    }
  }

  .list {
    font-family: "Roboto", "san-serif";
    line-height: 2em;
    width: 11em;
    margin: 0 3em 0 0;
  }
}
