@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$break-1000: 1000px;
$break-mobile: 411px;

.skillSection {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $break-mobile) {
      width: 95%;
      display: flex;
      flex-direction: column;
    }
  .title {
    color: #7ba02d;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 2em;
    width: 11em;
    margin: .65em 3em 0 0;
    @media screen and (max-width: $break-mobile) {
      margin: 1em 0 0 0;
      width: auto;
    }
  }

  .list {
    font-family: "Roboto", "san-serif";
    line-height: 2em;
    width: 14em;
    margin: 0 3em 0 0;
    @media screen and (max-width: $break-mobile) {
      margin: 0;
      width: auto;
    }
  }
}
