$break-1000: 1000px;

.footer {
    display: flex;
    justify-content: center;
    margin: 5em 0 0 0;
    font-size: .75em;
    color: #403E3E;
    border-top: solid 1px #E0E0E0;
    left: 0;
    bottom: 0;
    width: 100%;
    @media screen and (max-width: $break-1000) {
        max-width: 1000px;
    }
    :link {
        text-decoration: none;
        color: rgb(141, 140, 140);
        font-weight: bold;
        :visited {
            color: rgb(141, 140, 140);;
        }
    }
}